<%= simple_form_for(@profile, url: company_profile_path, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Company Information</h3>

      <div class="form-inputs">
        <%= f.input :logo %>
      </div>

      <div class="form-inputs">
        <%= f.input :address %>
      </div>

      <div class="form-inputs">
        <%= f.input :city, collection: ["Jakarta", "Bogor", "Depok", "Tangerang",
                                        "Bekasi", "Bandung", "Purwokerto", "Semarang",
                                        "Yogyakarta", "Solo", "Surabaya", "Malang"]
                                        %>
      </div>

      <div class="form-inputs">
        <%= f.input :province, collection: ["DKI Jakarta", "Banten", "Jawa Barat",
                                            "Jawa Tengah", "DIY Yogyakarta",
                                            "Jawa Timur"] %>
      </div>

      <div class="form-inputs">
        <%= f.input :country, collection: ["Indonesia"] %>
      </div>

      <div class="form-inputs">
        <%= f.input :website %>
      </div>

      <div class="form-inputs">
        <%= f.input :field, collection: ["Agriculture, Fisheries & Plantation", 
                                         "Apparel, Textile & Fashion", "Automotive & Component",
                                         "Banking & Financial Services", "Beauty & Wellness",
                                         "Building Material & Sanitary", "Business Process Outsourcing (BPO)",
                                         "Conglomerate / Holding Company", "Consumer Electronics", "Appliance & Furnishing",
                                         "Education & Training", "Engineering, Procurement, Construction (EPC)",
                                         "Environmental & Facilities Services", "FMCG", "Food & Beverage", "
                                         Government", "Non Profit & Public Facilities", "Healthcare & Pharmaceutical",
                                         "Heavy Equipment & Industrial Machinery", "Hospitality, Travel & Tourism",
                                         "Industrial Goods & Chemical", "Insurance", "IT & Telecommunication",
                                         "Jewellry & Luxury Goods", "Consulting, Research & Legal Services", "
                                         Media, Entertainment & Advertising", "Mining, Oil & Gas", "Paper & Forestry Product",
                                         "Printing & Publishing", "Real Estate & Property", "Restaurant & Food Services",
                                         "Retail & Wholesale Trading", "Science & Technology", "Tobacco & Cigarettes",
                                         "Transportation & Logistic", "Utilities & Energy", "Other Manufacturers",
                                         "Other Services"]
 %>
      </div>

      <div class="form-inputs">
        <%= f.input :description %>
      </div>

      <div class="actions text-center">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>

      </div>
    </div>
  </div>
<% end %>
