<div class="row">
  <div class="col-md-6 col-md-offset-3">
    Company Name: <%= @company.company_name %><br>
    Field: <%= @company.profile.field %><br>
    Description:<br>
    <%= @company.profile.description %><br>
    Address: <%= @company.profile.address %><br>
    City: <%= @company.profile.city %><br>
    Province: <%= @company.profile.province %><br>
    Country: <%= @company.profile.country %><br>
    Company Website: <%= @company.profile.website %><br>
  </div>
</div>
