<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= search_form_for @search, url: search_students_path, method: :post do |f| %>
      <%= f.search_field :resume_university_cont, placeholder: 'University' %><br>
      Minimum GPA: <%= f.label :resume_gpa_gteq, '...', id: 'value' %><br>
      <%= f.range_field :resume_gpa_gteq, in: 1..4, step: 0.1, id: 'gpa-slider', class: 'form-control' %><br>
      <%= f.select :resume_city_cont, city, { include_blank: 'City' }, class: 'selection form-control' %><br>
      <%= f.select :resume_province, province, { include_blank: 'Province' }, class: 'selection form-control' %><br>
      <%= f.submit 'Search' %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <% @students.each do |student| %>
    <% if student.resume %>
      <%= link_to student do %>
        <%= student.first_name %> <%= student.last_name %>
        <% if current_company %>
          <%= link_to 'Send message', new_message_path(to: student.id), class: 'btn btn-default btn-sm' %>
        <% end %><br>
      <% end %>
    <% end %>
  <% end %>
</div>
