<div class="container-fluid white-background padding-top padding-bottom margin-bottom">
  <div class="container">
    <%= search_form_for @search, url: search_students_path, method: :post do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.select :resume_university_cont, university, { include_blank: 'University' }, class: 'selection form-control' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.select :resume_province_cont, province, { include_blank: 'Location' }, class: 'selection form-control' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group text-center" style="margin-top: -20px">
            <%= f.range_field :resume_gpa_gteq, in: 1..4, step: 0.1, id: 'gpa-slider', class: 'form-control' %>
            <strong>Minimum GPA: <%= f.label :resume_gpa_gteq, '...', id: 'value', class: 'label label-green' %></strong>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <%= f.submit 'Search Student', class: 'btn btn-lg btn-green' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @students.each do |student| %>
      <% if student.resume %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <%= image_tag student.resume.photo.url(:medium), class: 'img-circle' %>
            <h4><%= student.first_name %> <%= student.last_name %></h4>
            <h5><label class="label label-green">GPA: <%= student.resume.gpa %></label></h5>
          </div>

          <div class="panel-body">
            <div class="col-sm-12">
              <p class="small"><strong>University:</strong> <%= student.resume.university %></p>
              <p class="small"><strong>Major:</strong> <%= student.resume.major %> | <%= student.resume.level %></p>
              <p class="small"><strong>Skills:</strong> <%= student.resume.skill_list %></p>
            </div>

            <div class="col-sm-6">
              <%= link_to 'Student Details', student, class: 'btn btn-block btn-green' %>
            </div>

            <div class="col-sm-6">
              <%= link_to 'Send Message', new_message_path(to: student.id), class: 'btn btn-block btn-yellow' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
