<h1>Job List</h1>
<div class="row">
  <% @jobs.each do |job| %>
    <%= job.job_title %> at <%= job.company.company_name %><br>
    <%= job.job_type %><br>
    <%= job.start_period.strftime("%B %Y") %> - <%= job.start_period.strftime("%B %Y") %><br>
    <%= job.short_desc %><br>
    <% if job.is_paid == true %>
      Paid<br>
    <% else %>
      No paid<br>
    <% end %>
    Application Dificulties: <%= job.difficulties %><br>
    <%= job.urgency %><br>
    <%= job.deadline.strftime("%d %B %Y at %H:%M") %><br>
    <%= link_to 'View Job', job, class: 'btn btn-primary' %>
    <% if current_company %>
      <%= link_to 'Edit Job', job, class: 'btn btn-success' %><br>
    <% end %>
  <% end %>
</div>
