<% if student_signed_in? %>
  <% if current_student.resume.present? %>
    <div class="green-background padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="bold">Hello <%= current_student.first_name %>!</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="white-background padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3 class="bold">Here are some jobs you might interest:</h3>
            <% @jobs.each_slice(2) do |job| %>
              <% job.each do |job| %>
                <div class="col-md-3">
                  <div class="panel panel-green">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-12 text-center">
                          <%= image_tag job.company.profile.logo.url(:medium), style: 'max-width: 80%' %>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 text-center">
                          <h4><strong><%= job.job_title %></strong></h4>
                          <h5><strong><%= job.company.company_name %></strong></h5>
                        </div>
                      </div>

                      <hr>

                      <div class="row">
                        <div class="col-sm-4 text-center">
                          <label class="label label-<%= job.job_type.delete(' ').downcase %>"><%= job.job_type %></label>
                        </div>

                        <div class="col-sm-4 text-center">
                          <label class="label label-<%= job.urgency.delete(' ').downcase %>"><%= job.urgency %></label>
                        </div>

                        <div class="col-sm-4 text-center">
                          <% if job.is_paid == true %>
                            <label class="label label-green">Paid</label>
                          <% else %>
                            <label class="label label-blue">No paid</label>
                          <% end %>
                        </div>
                      </div>

                      <div class="small-gap"></div>

                      <div class="row">
                        <div class="col-sm-12">
                          <p class="small"><strong>Working location:</strong> <%= job.city %>, <%= job.province %></p>
                          <p class="small"><strong>Working period:</strong> <%= job.start_period.strftime("%B %Y") %> - <%= job.start_period.strftime("%B %Y") %></p>
                          <p class="small"><strong>Dificulties:</strong> <%= job.difficulties %> Application</p>
                          <p class="small"><strong>Deadline:</strong> <%= job.deadline.strftime("%d %B %Y at %H:%M") %></p>
                          <%= link_to 'Job Details', job, class: 'btn btn-block btn-green' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= render 'layouts/studentsidebar' %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="green-background padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="bold">Welcome <%= current_student.first_name %>!</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="white-background padding-top padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3 class="bold">Welcome to bercareer. We are glad to have you here.</h3>
            <p class="headline">
              Before you launch your career, you need to create your resume. Click the following
              button to create your resume.
            </p>

            <%= link_to 'Create Resume', new_student_resume_path, class: 'btn btn-lg btn-green' %>
          </div>

          <div class="col-md-4">
            <%= render 'layouts/studentsidebar' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-message">
            <h1>Scale up <span class="gray">your career</span> today</h1>
            <hr class="intro-divider">
            <h4>Temukan perusahaan-perusahaan terbaik untuk magang dan bekerja dengan mudah.</h4>
            <div class="small-gap"></div>
            <%= link_to 'Get Started', jobs_path, class: 'btn btn-lg btn-green' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="green-background padding-top padding-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="bold">Work at startups, small businesses, even enterprises</h1>

          <div class="small-gap"></div>

          <div class="col-md-8 col-md-offset-2">
            <p class="headline">
              Bercareer adalah sebuah situs job-match making khusus mahasiswa Indonesia.
              Bercareer akan membantu mahasiswa untuk scale up their career dengan bekerja di
              perusahaan-perusahan terbaik di Indonesia dan membantu perusahaan untuk mendapatkan
              kandidat yang dapat diandalkan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white-background padding-top padding-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="bold">Easy step to launch your career</h1>
        </div>
      </div>

      <div class="medium-gap"></div>

      <div class="row">
        <div class="col-md-4">
          <%= icon('file', class: 'fa-4x gray') %>
          <h3 class="bold">Create your resume</h3>
          <div class="col-sm-10 col-sm-offset-1">
            <p class="headline">Buat akun di Bercareer dan buat resume untuk
              menunjukkan talentamu.</p>
          </div>
        </div>

        <div class="col-md-4">
          <%= icon('heart', class: 'fa-4x gray') %>
          <h3 class="bold">Find the job you love</h3>
          <div class="col-sm-10 col-sm-offset-1">
            <p class="headline">Ada ratusan lowongan pekerjaan menantimu. Tentukan
              mana yang kamu suka.</p>
          </div>
        </div>

        <div class="col-md-4">
          <%= icon('paper-plane', class: 'fa-4x gray') %>
          <h3 class="bold">Get hired & launch your career</h3>
          <div class="col-sm-10 col-sm-offset-1">
            <p class="headline">Mulai bekerja! Ini saatnya untuk meningkatkan skill-mu,
              dapatkan lebih banyak pengalaman, dan <em>scale up your career</em>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resume-section padding-top padding-bottom ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h1 class="text-center">Create your resume in minutes</h1>
            <div class="medium-gap"></div>
            <div class="col-sm-12">
              <%= image_tag('resume.png', width: '100%')%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="green-background padding-top padding-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="medium-gap"></div>
          <h1 class="bold">Ready to launch your career?</h1>

          <div class="small-gap"></div>

          <p class="headline">
            Bergabung bersama bercareer dan mulai karir cemerlangmu disini.
          </p>

          <div class="small-gap"></div>

          <%= link_to 'Gabung Sekarang', new_student_registration_path, class: 'btn btn-lg btn-yellow' %>
          <div class="medium-gap"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
