<% provide(:title, "Contact us") %>

<div class="green-background padding-top padding-bottom text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold">Feel free to hit us up!</h1>
      </div>
    </div>
  </div>
</div>

<div class="white-background padding-top padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="bold">Reach Us</h4>
        <p class="headline">
          You can send your inquiries through the form below:
        </p>
        <div class="small-gap"></div>
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder: 'Name', required: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, placeholder: 'Email', required: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.text_field :subject, placeholder: 'Subject', required: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.text_area :message, as: :text, placeholder: 'Message', required: true, rows: 5, class: 'no-resize form-control' %>
          </div>

          <div class="form-group">
            <%= f.text_field :nickname, placeholder: 'Nickname', class: 'hidden form-control' %>
          </div>

          <div class="actions">
            <%= f.submit 'Send Message', class: 'btn btn-green' %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <h4 class="bold">Find Us</h4>
        <%= image_tag('logo.png', width: '250px') %>
        <div class="small-gap"></div>
        <div class="row">
          <div class="col-sm-1">
            <%= icon('map-marker', class: 'strong fa-2x') %>
          </div>
          <div class="col-sm-11">
            Cluster Angelonia, Jalan Angelonia 5 A1/H6<br>
            Desa Medang, Kecamatan Pagedangan<br>
            Kabupaten Tangerang, Banten 15311
          </div>
        </div>

        <div class="small-gap"></div>
        <div class="row">
          <div class="col-sm-1">
            <%= icon('phone', class: 'strong fa-2x') %>
          </div>
          <div class="col-sm-11">
            +62812-2155-5274<br>
            +62813-1013-1612
            <div class="small-gap"></div>
            <%= link_to 'https://www.facebook.com/bercareer' do %>
              <%= icon('facebook-square', class: 'strong fa-2x', style: 'color: #3b5998') %>
            <% end %>
            <%= link_to 'https://twitter.com/bercareer' do %>
              <%= icon('twitter-square', class: 'strong fa-2x', style: 'color: #55acee') %>
            <% end %>
            <%= link_to 'https://instagram.com/bercareer' do %>
              <%= icon('instagram', class: 'strong fa-2x', style: 'color: #3f729b') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
