<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= image_tag @company.profile.logo.url(:medium) %><br>
    Company Name: <%= @company.company_name %><br>
    Field: <%= @company.profile.field %><br>
    Description:<br>
    <%= @company.profile.description %><br>
    Address: <%= @company.profile.address %><br>
    City: <%= @company.profile.city %><br>
    Province: <%= @company.profile.province %><br>
    Country: <%= @company.profile.country %><br>
    Company Website: <%= @company.profile.website %><br>
    Reviews :<br>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <span>Based on <%= @company.reviews.count %> reviews</span>
    <hr>
    <%= render @company.reviews %><br>
    <% if current_student %>
      <% if @company.students.where('student_id = ?', current_student.id).count > 0 %>
        <%= link_to 'Give review', new_company_review_path(@company) unless
        Review.where(company_id: @company.id, student_id: current_student.id).count > 0 %>
      <% end %>
    <% end %>
    <% if current_company %>
      <% if @profile.company_id == current_company.id %>
        <%= link_to 'Edit Profile', edit_company_profile_path(current_company), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
