<%= simple_form_for([@student, @student.feedbacks.build]) do |f| %>
  <div id="rating-form">
    <label>Rating</label><br>
  </div>
  <br>
  <%= f.input :comment %>
  <%= f.hidden_field :student_id %>
  <%= f.hidden_field :company_id, value: current_company.id %>
  <%= f.button :submit, 'Give Feedback', class: 'btn btn-green' %>
<% end %>

<script>
  $('#rating-form').raty({
    path: "",
    scoreName: 'feedback[rating]'
  });
</script>
