<%= simple_form_for(@resume, url: student_resume_path, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <h3>Personal Information</h3>

      <div class="form-inputs">
        <%= f.input :photo %>
      </div>
      <div class="form-inputs">
        <%= f.input :gender, collection: ["Male", "Female"] %>
      </div>

      <div class="form-inputs">
        <%= f.input :birth_date, as: :date, start_year: Date.today.year - 30,
                                 end_year: Date.today.year - 15,
                                 order: [:day, :month, :year], label: 'Date of Birth' %>
      </div>

      <div class="form-inputs">
        <%= f.input :address %>
      </div>

      <div class="form-inputs">
        <%= f.input :city, collection: city, input_html: { class: 'selection' } %>
      </div>

      <div class="form-inputs">
        <%= f.input :province, collection: province, input_html: { class: 'selection' } %>
      </div>

      <div class="form-inputs">
        <%= f.input :country, collection: ["Indonesia"] %>
      </div>

      <div class="form-inputs">
        <%= f.input :postal_code %>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Education</h3>

      <div class="form-inputs">
        <%= f.input :university, input_html: { class: 'selection' }, collection: university %>
      </div>

      <div class="form-inputs">
        <%= f.input :major, input_html: { class: 'selection' }, collection: study_program %>
      </div>

      <div class="form-inputs">
        <%= f.input :level, collection: ["D1", "D2", "D3", "S1"] %>
      </div>

      <div class="form-inputs">
        <%= f.input :grad_year, as: :date, start_year: Date.today.year, end_year: Date.today.year + 10,
                                           ignore_day: true, ignore_month: true, order: [:year] %>
      </div>

      <div class="form-inputs">
        <%= f.input :gpa, input_html: { min: 1.0, max: 4.0} %>
      </div>

      <div class="form-inputs">
        <%= f.input :skill_list, input_html: { class: 'taggable', multiple: "multiple" }, collection: ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'skills').uniq.pluck(:name) %>
      </div>

      <div class="form-inputs">
        <%= f.input :language_list, input_html: { class: 'taggable', multiple: "multiple" }, collection: ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'languages').uniq.pluck(:name) %>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Work Experiences</h3>

      <div class="form-inputs">
        <%= f.simple_fields_for :experiences do |exp| %>
          <%= render 'experience_fields', f: exp %>
        <% end %>
        <br>
        <%= link_to_add_association 'Add Experience', f, :experiences, class: 'btn btn-default' %>
      </div>

      <hr>

      <h3>Portfolios</h3>
      <div class="form-inputs">
        <%= f.simple_fields_for :portfolios do |exp| %>
          <%= render 'portfolio_fields', f: exp %>
        <% end %>
        <br>
        <%= link_to_add_association 'Add Portfolio', f, :portfolios, class: 'btn btn-default' %>
      </div>

      <hr>

      <h3>Social Media Accounts</h3>

      <div class="form-inputs">
        <%= f.input :facebook_url %>
      </div>

      <div class="form-inputs">
        <%= f.input :twitter_url %>
      </div>

      <div class="form-inputs">
        <%= f.input :linkedin_url %>
      </div>

      <div class="form-inputs">
        <%= f.input :googleplus_url %>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="actions text-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
