<div class="row">
  <div class="col-md-4">
    Name : <%= @resume.student.full_name %><br>
    Gender : <%= @resume.gender %><br>
    Date of Birth : <%= @resume.birth_date.strftime("%C %B, %Y") %><br>
    Address : <%= @resume.address %><br>
    City : <%= @resume.city %><br>
    Province : <%= @resume.province %><br>
    Country : <%= @resume.country %><br>
    Postal Code : <%= @resume.postal_code %>
  </div>

  <div class="col-md-4">
    University : <%= @resume.university %><br>
    Major : <%= @resume.major %><br>
    Level : <%= @resume.level %><br>
    Graduation Year (Expected) : <%= @resume.grad_year.strftime("%Y") %><br>
    GPA/IPK : <%= @resume.gpa %><br>
    Skills : <%= @resume.skill_list %><br>
    Languages : <%= @resume.language_list %>
  </div>

  <div class="col-md-4">
    Facebook : <%= @resume.facebook_url %><br>
    Twitter : <%= @resume.twitter_url %><br>
    LinkedIn : <%= @resume.linkedin_url %><br>
    Google+ : <%= @resume.googleplus_url %>
  </div>
</div>

<div class="row text-center">
  <%= link_to 'Edit Resume', edit_student_resume_path(current_student), class: 'btn btn-primary' %>
</div>
