<div class="panel panel-green">
  <div class="panel-heading text-center">
    <h2>Menu</h2>
  </div>

  <div class="panel-body">
    <ul class="sidebar-list">
      <% if current_student.resume %>
        <li class="sidebar-item"><%= link_to 'View Resume', student_path(current_student) %></li>
        <li class="sidebar-item"><%= link_to 'Edit Resume', edit_student_resume_path(current_student) %></li>
      <% else %>
        <li class="sidebar-item"><%= link_to 'Create Resume', new_student_resume_path(current_student) %></li>
      <% end %>
      <li class="sidebar-item"><%= link_to 'My Applications', your_applications_path %></li>
      <li class="sidebar-item"><%= link_to 'My Jobs', your_accepted_jobs_path %></li>
      <li class="sidebar-item"><%= link_to 'Message Center', conversations_path %></li>
      <li class="sidebar-item"><%= link_to 'Account Setting', edit_student_registration_path %></li>
      <li class="sidebar-item"><%= link_to 'Sign Out', destroy_student_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
