<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Bercareer adalah situs untuk mahasiswa mencari pekerjaan idaman mereka dan perusahaan yang mencari talenta terbaik.">
  <meta name="author" content="Arief R Ramadhan">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/shim' %>
</head>
<body>
  <% unless current_page?(employers_path) || current_page?(new_company_session_path) || current_page?(new_company_registration_path) || current_company %>
    <%= render 'layouts/studentnavbar' %>
  <% else %>
    <%= render 'layouts/companynavbar' %>
  <% end %>

  <%= render 'layouts/messages' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</body>
<%= render 'layouts/scripts' %>
</html>
